#imagenes .col-lg-4{ 
    text-align: center;
    font-family: inherit;
    margin-top: 227px;
    margin-bottom: 10px;
    font-size: 10px;
    color:aliceblue;
    
    
}
  #imagenes img{
    width: 300px;
    height: 250px;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;

}
 
  #imagenes{
    font-size: 20px;
    color:rgba(8, 3, 12, 0.973);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background: rgb(220, 8, 195);*/
}
#container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 

#col-lg-4 div {
  
  color: aliceblue;
  text-align: center;
  font-family: inherit;
  margin-top: 227px;
}